@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');
/*
CODED BY : M@IKEL
*/

.navigation__group .burgers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 5px;
    transition: all 0.2s 
        ease-in-out;
    border-radius: 14px;
    /*color: rgb(31, 70, 145);*/
    background-color: rgb(120,126,255,0.09);
}

.navigation__group > 
.burgers:nth-child(1) {
    margin-right: auto;
}

.navigation__group .burgers:hover, 
.navigation__group .burgers:focus {
    border-radius: 14px;
    background-color: rgb(120,126,255,0.13);
}
.navigation__group .burgers .lines:hover, 
.navigation__group .burgers .lines:focus {
  fill: transparent;
  stroke: rgb(73,81,255,.7);
  width: 33px; height: 33px;
}

.navigation__group .burgers .lines {
  fill: transparent;
  stroke: #363FFC;
	width: 32.5px; height: 32.5px;
	transition: .4s;
}

.navigation__group .namesu {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-right: 30px;
	/*color: #363FFC*/ /*rgb(31, 70, 145)*/;
	cursor: pointer;
}
.navigation__group .namesu > a {
  text-decoration: none;
  color: #363FFC
}


/*HALAMAN*/
.containsx {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.containsx .pagex {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 3;
}
.pagex > .contente {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  padding: 10px 10px 100px 10px;
  /*background: #faf;*/
}
.pagex > .footx {
  font-family: 'Noto Sans', sans-serif;
  position: sticky;
  padding: 15px;
  top: 100%;
  bottom: 0;
  width: 100%;
  /*background: #fefe;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pagex > .footx .fff {
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 30%);
}
.footx .fff > a {
  text-decoration: none;
  color: rgb(31, 70, 145) !important;
  margin-left: 5px; margin-right: 5px;
  cursor: pointer;
}
.footx .fff > p {
  color: rgb(31, 70, 145) !important;
  margin-left: 5px; margin-right: 5px;
  cursor: pointer;
}


/*
INPUTAN 20 KARAKTER 
*/
.pagex > .contente .pg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgb(120,126,255,0) /*no warna*/;
  border-radius: 20px;
}
.pagex > .contente .pg .in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 7px 10px; 
}
.pagex > .contente .pg .in #toggle {
  margin-left: auto;
  background: rgb(120,126,255,0.17);
  padding: 9.3px 9.6px;
  border-radius: 8.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pagex > .contente .pg .in #toggle .lineu {
  fill: transparent;
  stroke: #363FFC;
	width: 25.2px; height: 25.2px;
}

.pagex > .contente .pg .in #keywordInput {
  display: flex;
  align-items: center;
  color: #363FFC;
  border-radius: 9px;
  padding: 13.2px 15px 13.2px 15px;
  width: 100%;
  margin-right: 9px;
  background-color: rgb(120,126,255,0.07);
  outline: none;
  outline-color: none;
  border: 1px solid rgb(120,126,255,0.18);
}
.pagex > .contente .pg .in #keywordInput::placeholder {
  color: rgb(120,126,255,0.49);
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.pagex > .contente .pg #videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%; 
  height: auto;
  background: rgb(120,126,255,0) /*no warna*/;
  overflow: hidden;
}
.pagex > .contente .pg #videoContainer .vid {
  position: relative;
  /*width: fit-content;*/
  width: 100%;
  height: 100%;
  min-height: 285px;
  border-radius: 18px;
  background: rgb(120,126,255,0.07);
  overflow: hidden;
}
.pagex > .contente .pg #videoContainer .vid > #vii {
  width: 100%; 
  height: 100%;
}
.pagex > .contente .pg #videoContainer .vid iframe::-webkit-medntrols-panel .download-button,
.pagex > .contente .pg #videoContainer .vid iframe::-webkit-media-controls-panel .download-button-enterprise {
  display: none!important;
}


.pagex > .contente .pg #videoContainer .back {
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin-top: 23px;
  color: #363FFC;
  background: rgb(120,126,255,0.35);
  border-radius: 14px;
  padding: 10px 14.5px;
}
/*
.pagex > .contente .pg #videoContainer .video-controls {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.35);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  gap: 5px;
}
.pagex > .contente .pg #videoContainer .video-controls .btnm {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}*/
